<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testPage</title>
</head>
<body>
<table border="1">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>nomeri</td>
        <td>password</td>
        <td>active</td>
        <td>age</td>
        <td>login</td>
    </tr>
    {{#bar}}
        <tr>
            <td>
                {{id}}
            </td>
            <td>
                {{username}}
            </td>
            <td>
                {{nomeri}}
            </td>
            <td>
                {{password}}
            </td>
            <td>
                {{active}}
            </td>
            <td>
                {{age}}
            </td>
            <td>
                {{login}}
            </td>
        </tr>
    {{/bar}}

</table>
</body>
</html>