<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>brohouse</title>
    <link rel="stylesheet" href="asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="asset/css/styles.css">
</head>

<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration" style="background-image: url(asset/img/final_discont_Монтажная_область_1_копия_2-removebg-preview.png);width: 250px;height: 250px;"><img></div>
            <form action="/login" method="post">
                <div><label> User Name : <input type="text" name="username"required/> </label></div>
                <div><label> Password: <input type="password" name="password"required/> </label></div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <div><input type="submit" value="Sign In"/></div>

                <a href="/resistratsiya">Регистрация Барбара </a>
            <a class="forgot" href="#">Забыли пароль?</a></form>
        </form>
    </div>
    <script src="asset/js/jquery.min.js"></script>
    <script src="asset/js/bootstrap.min.js"></script>
</body>

</html>